# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2024 Univention GmbH
---
global:
  # -- Container registry address.
  imageRegistry: "artifacts.software-univention.de"

  # -- Credentials to fetch images from private registry.
  # Ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  #
  # imagePullSecrets:
  #   - "docker-registry"
  imagePullSecrets: []

  # -- Define an ImagePullPolicy.
  #
  # Ref.: https://kubernetes.io/docs/concepts/containers/images/#image-pull-policy
  #
  imagePullPolicy: null

  secrets:
    masterPassword: null

  ingressClass: ""
  domain: ""
  certManagerIssuer: ""
  nubusDeployment: false

# -- Additional custom annotations to add to all deployed objects.
additionalAnnotations: {}

# -- Additional custom labels to add to all deployed objects.
additionalLabels: {}

scimServer:
  image:
    registry: ""
    repository: "nubus-dev/images/scim-server"
    pullPolicy: ""
    tag: "latest"
    sha256: null
  waitForDependency:
    image:
      registry: ""
      repository: "nubus/images/wait-for-dependency"
      pullPolicy: ""
      tag: "0.35.33@sha256:0570b6e8f57d27fe3c856d53c324b2e0457ad83ead442d54a3af806ea0f6a626"
      sha256: null

replicaCount: 1

config:
  host: "https://scim.example.test"
  apiPrefix: "/scim/v2"
  logLevel: "INFO"
  listenAddress: "0.0.0.0"
  port: 80
  corsOrigins: '["*"]'
  auth:
    enabled: true
    # -- Only tokens with the given clientId are valid
    allowedCliendId: ""
    # -- Only tokens with the given audience are valid
    allowedAudience: ""
  # -- External ID mapping configuration for SCIM filtering
  externalId:
    # -- UDM property to map to SCIM User externalId. If not set, externalID will not be mapped.
    # Example: "employeeNumber"
    userMapping: null
    # -- UDM property to map to SCIM Group externalId. If not set, externalID will not be mapped.
    # Example: "description"
    groupMapping: null
  roles:
    # -- UDM property to map to SCIM User roles. If not set, roles will not be mapped.
    # Example: "scimRoles"
    userMapping: null

keycloak:
  connection:
    url: ""
    realm: ""

udm:
  connection:
    url: ""
  auth:
    username: "Administrator"
    password: null
    existingSecret:
      name: null
      keyMapping:
        password: null

docu:
  # -- If enabled swagger UI will be availble at the /docs and /redoc endpoint
  enabled: false
  auth:
    # -- clientId and clientSecret will be used in swagger UI to allow login when testing the API
    clientId: null
    existingSecret:
      name: null
      keyMapping:
        clientSecret: null

resources:
  limits:
    memory: "4Gi"
    cpu: "4"

podSecurityContext:
  enabled: true
  fsGroup: 1000
  fsGroupChangePolicy: "Always"
  sysctls:
    - name: "net.ipv4.ip_unprivileged_port_start"
      value: "1"

containerSecurityContext:
  enabled: true
  privileged: false
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - "ALL"
  seccompProfile:
    type: "RuntimeDefault"
  runAsUser: 1000
  runAsGroup: 1000
  readOnlyRootFilesystem: true
  runAsNonRoot: true

probes:
  readiness:
    enabled: true
    failureThreshold: 10
    initialDelaySeconds: 15
    periodSeconds: 20
    successThreshold: 1
    timeoutSeconds: 5
    tcpSocket:
      port: 80
  startup:
    enabled: true
    initialDelaySeconds: 15
    failureThreshold: 10
    periodSeconds: 20
    successThreshold: 1
    timeoutSeconds: 5
    tcpSocket:
      port: 80
  liveness:
    enabled: true
    failureThreshold: 10
    initialDelaySeconds: 15
    periodSeconds: 20
    successThreshold: 1
    timeoutSeconds: 5
    tcpSocket:
      port: 80

tolerations: []
extraEnvVars: []
extraVolumes: []
extraVolumeMounts: []

ingress:
  enabled: true
  host: ""
  certManager:
    enabled: true
    issuerRef:
      name: ""
      kind: "ClusterIssuer"
  ingressClassName: ""
  annotations: {}
  tls:
    enabled: true
    secretName: ""

service:
  annotations: {}

serviceAccount:
  create: true
  annotations: {}
  name: ""
  automountServiceAccountToken: false
  labels: {}
